
@import "@/styles/shared.sass"

.loading-bg
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  min-width: 100vw
  min-height: 100lvh
  pointer-events: all
  

  .bottleMaskInvert
    transform-origin: center