@import "@/styles/shared.sass"

.Loading
  @include full
  z-index: 100
  +flex-col


  .loading-percent
    position: absolute
    top: 65%
    width: fit-content
    left: 0
    right: 0
    margin: 0 auto
    font-family: $font-tccc
    font-weight: 700
    font-size: 3rem
    line-height: 5.8rem
    letter-spacing: -0.08em

  .desc
    position: absolute
    bottom: 5%
    width: fit-content
    left: 0
    right: 0
    margin: 0 auto
    font-family: $font-tccc
    font-weight: 900
    font-size: 1rem
    line-height: 1
    letter-spacing: 0.05em
    text-transform: uppercase

    .ellipsis
      margin-left: 0.2em
    
  &.hide
    pointer-events: none

    .content
      opacity: 0
      transition: opacity 1s ease-in-out