@import "./breakpoints.sass"


$font-tccc: "TCCCUnity"
$font-tccc-cond: "TCCCUnityCond"
$font-tccc-head: "TCCCUnityHead"


=type-countdown
  font-family: $font-tccc
  font-size: 20rem
  line-height: 1
  font-weight: 900
  letter-spacing: -0.02em

=type-score-label
  font-family: $font-tccc
  font-weight: 500
  font-size: 1rem
  line-height: 2.2rem
  letter-spacing: -0.04em

=type-score-value
  font-family: $font-tccc
  font-weight: 700
  font-size: 3rem
  line-height: 5.8rem
  letter-spacing: -0.08em

=type-h1
  font-family: $font-tccc
  font-size: 4rem
  line-height: 1.05
  font-weight: 900
  letter-spacing: -0.06em

=type-body1
  font-family: $font-tccc
  font-size: 1.5rem
  font-weight: 500
  line-height: 2.2rem
  letter-spacing: -0.04em

=type-caption
  font-family: $font-tccc-cond
  font-size: 1.5rem
  font-weight: 500
  line-height: 2.2rem
  letter-spacing: 0em
  text-transform: uppercase

=type-cta
  font-family: $font-tccc
  font-size: 1.2rem
  font-weight: 900
  line-height: 2.2rem
  letter-spacing: -0.02em
