@import "@/styles/shared.sass"

.ending
  +flex-col
  padding-top: calc(var(--header-height))
  padding-bottom: calc(env(safe-area-inset-bottom) + 6rem)

  .wrap
    flex: 1
    +flex-col
    gap: 2rem

  .btn-secondary
    opacity: 1 !important
    margin-top: 1rem