@import "@/styles/shared.sass"
  
.pages
  display: contents

.page
  +full
  +flex-col
  gap: 1.6rem
  padding-inline: 2rem
  padding-top: calc(var(--header-height) + 2rem)
  padding-bottom: calc(env(safe-area-inset-bottom) + 2rem)
  text-align: center

  // TRANSITION
  transition: all 0.3s ease 0s
  
  &:not(.show)
    opacity: 0
    pointer-events: none

    button, a
      pointer-events: none


  // GAME
  &.game
    backdrop-filter: none
    pointer-events: none


  .step
    position: absolute
    top: calc(var(--header-height) + 2rem)
    left: 0
    right: 0
    margin-inline: auto
    +type-caption