@import "@/styles/shared.sass"

.tutorial-cleaning0
  +full
  width: auto
  aspect-ratio: 1
  right: 0
  margin: 0 auto
  overflow: hidden

  img
    width: 3rem

  .bottle-solid-container
    position: absolute
    top: 0
    left: 50%
    margin-left: 3rem
    +flex-row
    gap: 1.5rem
    