@import "@/styles/shared.sass"

.button-primary
  position: relative
  +type-cta
  opacity: 0

  .border
    position: absolute
    top: 50%
    left: 50%
    --size: 0.7rem
    width: calc(100% + var(--size) * 2)
    height: calc(100% + var(--size) * 2)
    background: rgba(255,255,255,0.1)
    backdrop-filter: blur(10px)
    border-radius: 9999px
    transform: translate(-50%, -50%)

  .wrap
    position: relative
    +flex-row(center, center)
    padding: 1rem 4rem
    height: 6rem
    min-height: 6rem
    background: linear-gradient(to bottom, #f50008, #810004)
    border: 1px solid #ff484e
    border-radius: 9999px
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0, 0.25)
    overflow: hidden
    pointer-events: auto

  .progress
    +full
    // background: #a50509
    background: rgba(#111111, 0.2)
    transform: scaleX(0)
    transform-origin: left

  .label
    position: relative
    +flex-row(center, center)
    margin-top: -0.3rem


  
  &:not(.show) 
    pointer-events: none

  
  &.disabled
    filter: saturate(0.5)
    pointer-events: none
    
