@import "@/styles/shared.sass"

.tutorial
  padding-top: calc(var(--header-height) + 7rem)

  .preheading
    position: absolute
    top: calc(var(--header-height) + 5rem)
    left: 0
    right: 0
    margin-inline: auto
    
  .panel
    position: relative
    width: 27.6rem
    width: 22rem
    aspect-ratio: 276 / 398
    +flex-col(center, stretch)

    >svg
      position: absolute
      width: 145%
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)

    >*
      position: relative

    .top, .bottom
      position: relative
      +flex-row
      +type-caption
      border: 0.6rem solid transparent

      .help
        position: absolute
        left: auto
        right: 2rem
        top: 50%
        width: 2rem
        transform: translate(0, -50%)

    .top
      aspect-ratio: 276 / 64

    .bottom
      aspect-ratio: 276 / 58

    .center
      position: relative
      flex: 1

      .wrap
        +full
        +flex-col
        padding: 2rem
        +type-cta

    

      

