@import '@/styles/shared.sass'
  
.VideoPlayer


  video
    +full
    object-fit: cover

.btn-skip
  position: absolute
  top: 1rem
  right: 1rem
  background: white
  font-size: 1.5rem
  border-radius: 9999px
  +flex-row